@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat';
	background-color: #cfecea;
}

.page-container {
	max-width: 1120px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.logo {
	max-width: 200px;
	text-align: center;
}

.center {
	max-width: 500px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

button, .button {
	border: none;
    color: #FFFFFF;
	background-color: #000000;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 4px !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover, .button:hover {
	transform: scale(1.05);
}

.blue-button {
    background-color: #008CBA;
}

input[type="text"], input[type="password"] {
	max-width: 200px;
	width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    transition: 0.5s;
	margin-bottom: 4px;
}

input[type="submit"]{
	max-width: 195px;
	width: 100%;
}

.error {
	color: #D8000C;
	font-weight: 600;
}